.landing{
  background: url("https://image.shutterstock.com/image-photo/background-old-rustic-wooden-planks-260nw-1173301186.jpg");
  background-size: cover;
  color: white;
}
.landing-page-image{
  height: 250px;
  width: 300px;
}
.search-bar{

}
