.landing{
  background: url('/images/food.jpg') no-repeat center center fixed;
  background-size: cover;
  color: black;
}
.landing-page-image{
  height: 250px;
  width: 300px;
}
.ui.card,
.ui.cards>.card {
  background-color: black;
  color: white;
}
.search-bar{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.landingFont{
  color: #0bcb9a;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  margin-left: 20px;
  padding-bottom: 300px
}
